{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="nav-content">
    <a href="{% url 'profile' %}"><img src="{% static 'images/icons/return.png' %}" class="icon"></a>
    <h1>{{ title }}</h1>
</div>

{% if messages %}
<ul>
    {% for message in messages %}
        <li class="message {{ message.tags }}">
            {{ message }}
            <!-- Bouton de fermeture -->
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'change-date' to_modify %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <input type='date' name='{{ to_modify }}' id='{{ to_modify }}' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <p class="submitted"><input type="submit" value="Changer"></p>
</form>

{% endblock content %}